/* css reset */

*{
    margin: 0;
    padding: 0;
}
/* css variable */
:root{
    --navbar-height:59px;
}
body{
    background: linear-gradient(to top right,black,orange);
}
#navbar{
    display: flex;
    align-items: center;
    margin: -14px -25px;
    position: relative;
    top: 0;
    left: 0;
}
#logo{
    margin: 34px 43px;
    padding: 3px 4px;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 3px;
}#logo img{
    /* margin: 2px 3px;
    padding: 3px 2px; */
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 3px;
}
#navbar ul{
    display: flex;
    list-style: none;
    font-size: 1.3rem;

}#navbar ul li a{
    display: block;
    color: white;
    padding: 11px 22px;
    margin: 13px 31px;
    border-radius: 3px;
    text-decoration: none;
}#navbar ul li a:hover{
    display: block;
    background-color: white;
    color: black;
    padding: 11px 22px;
    margin: 13px 31px;
    border-radius: 3px;
    text-decoration: none;}
#navbar::before{
    content: "";
background-color: black;    
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0;
    bottom: 0;
}#home{
    display: flex;
    flex-direction: column;
     justify-content: center;
     height: 100vh;
    align-items: center; 
    padding: 3px 200px;
}#home::before{
    content: "";
    /* background: url("../img/cover pic3.jpg") no-repeat center center/cover; */
    position: absolute;
    width: 100%;
    height: 90%;
    z-index: -1;
    opacity: 0.9;
    top: 0;
    bottom: 0;
}#home p{
    color: white;
    text-align: center;
    color: aliceblue;
    font-size: 1.5rem;
    /* font-family: 'Shizuru', cursive; */
    font-family: 'League Gothic', sans-serif;
font-family: 'Shizuru', cursive;

}#home h1{
    color: white;
}
.hprime{
    color: black;
    font-size: 3.5rem;
    padding: 12px;
    text-align: center;
    /* font-family: 'Shizuru', cursive; */
    font-family: 'League Gothic', sans-serif;
font-family: 'Shizuru', cursive;
}.hsec{
    font-size: 2.7rem;
    padding: 10px;
    text-align: center;
}.center{
    text-align: center;
}
.btn{
    padding: 15px;
    font-size: 1.3rem;
    border-radius: 10px;
    /* border: 2px solid black; */
    margin: 13px;
    color: white;
    background-color: red;
    cursor: pointer;
    outline: none;



}
/* services section */
#services{
    margin: 35px;
    display: flex;


}#services .box{
    /* border:2px solid brown; */
    padding: 34px;
    margin: 20px 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    border-radius: 23px;

}
#services .box img{
    height: 150px;
    

}
 .service-container h1{
    margin: 20px 9px;
    color: white;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
} 
/* cients-section */
#clints-section::before{
    content: "";
    /* background: linear-gradient(to top left,black,orange); */
    position: absolute;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}
#clints-section{
    height: 100%;

}
#clients{
    
display: flex;

justify-content: center;
align-items: center;
     

}
#clients img{
    height: 124px;
    padding: 3px 5px;
    margin: 13px 14px;



/* }#clients-section div{
    display: flex; */
}.class-items{
    /* display: flex;
    justify-content: center;
    align-items: center;  */
}
/* contact section */
#contact-section{
    position: relative;
}#contact-section::before{
    content: "";
    /* background: linear-gradient(to top right,black,orange) no-repeat center center/cover; */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
#contact-box input,textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
}#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}#contact-box form{
    width: 40%;
}#contact-box lebel{
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}
/* footer */
footer{
    background-color: black;
    color: white;
}
#submit-btn{
    width: 25%;
    background: linear-gradient(to top left,red,yellow);
    padding: 5px 5px;
    display: block;
    margin: auto;
    outline: none;
    border: none;
    border-radius: 13px;
    margin-top: 10px;
}

@media(max-width:700px){
    body{
        background-color: ;
      
    }
    #navbar ul{
        background-color: rgb(57, 53, 53);
        display: block;
        position: absolute;
        display: none;
        right: -200px;
        top: 0px;
        transition: 1s;
    }
    #navbar ul li{
        display: block;
    }
    .cross-icon{
        margin-top:8px;
    }
    #services{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #clients{
       flex-wrap: wrap;
    }
    #contact-section{
        margin-top: 158px;
    }
    #submit-btn{
        width: 44%;
    }
    .service-container{
        margin-top: 250px;
        font-size: 28px;
    }
    .service-container h1{
        font-size: 20px;
    }
    #home{
        overflow: hidden;
        font-size: 10px;
    }
    #home h1{
        font-size: 25px;
        margin-top: 23px;
    }
    .btn{
        padding: 5px 50px;
    }
    #navbar i{
        height: 5px;
        width: 5px;
        z-index: 2;
        opacity: 1;
    }
}